.DS_Store
._*
.AppleDouble
.LSOverride

xcuserdata/
build/
DerivedData/

*.xcodeproj
*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcscmblueprint
*.xccheckout
*.moved-aside

Derived/
Tuist/.build
graph.dot
